{% extends "base.html" %}

{% block content %}
<div class = "col-md-6 offset-md-3">
<h1>Register</h1>
<br>
<form method = "POST" action="">
    {% csrf_token %}

    {% if forms.errors %}

    <div class="mb-3 alert alert-warning alert-dismissible fade show" role="alert">
        Your form have error
        {% for field in form %}
            {% if feild.error %}
                {{ feild.error }}
            {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismissible="alert" arial-label="close"></button>
    </div>
    {% endif %}
    {{form.as_p}}
    <br/>
    <button type="submit" class="btn btn-secondary">Register</button>
          

    </form>
</div>

{% endblock %}